.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d5daf2;
}

.pet-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
